<%= render :partial => '/mc_menu/contentHeader' %>

<%= render :partial => 'scripts' %>

<%= render :partial => '/mc_menu/mcmenu' %>

<h2><%=t :hr_mgmt_label_title %></h2>
<div id="containerColumnBar" style="min-width: 600px; height: 400px; margin: 0 auto;"></div>
<div id="containerStackedBar" style="min-width: 600; min-height: 500px; margin: 0 auto;"></div>