#menu ul {
    padding:5px;
    margin:0 auto;
    float: left;
    width: 100%;
    background-color:#EDEDED;
    list-style:none;
	text-align: center;
}

#menu ul li { display: inline;}

#menu ul li a {
    padding: 2px 10px;
    float:left;
    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

#menu ul li a:active {
    background-color: #EDEDED;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

#menu ul li a.menu_selected {
    padding: 2px 10px;
    color: #333;
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #0066FF;
}

div.central_charts {
    margin-top: 40px;
}

div.central_chart {
    min-width: 520px;
    height: 400px;
    margin: 0 auto;
}

div.double_charts {
    margin-top: 5px;
    float: left;
}

div.double_chart {
    min-width: 520px;
    height: 400px;
    margin: 0 auto;
    float: left;
}

div.mini_chart {
    min-width: 350px;
    height: 400px;
    margin: 0 auto;
    float: left;
}

div.mini_chart_note {
    min-width: 150px;
    height: 400px;
    margin: 0 auto;
    float: left;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  margin-bottom: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}


.icon-list {
  background-position: -360px -48px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-user {
  background-position: -168px 0;
}

.icon-refresh {
  background-position: -240px -24px;
}

#content .tabs ul li a.active {
  background-color: #fff;
  border: 1px solid #bbbbbb;
  border-bottom: 1px solid #fff;
  color:#444;
}

/***** Tabular forms ******/
#sidebar .tabular p{
  margin: 0;
  padding: 3px 0 3px 0;
  padding-left: 70px; /* width of left column containing the label elements */
  min-height: 1.8em;
  clear:left;
}

html>body .tabular p {overflow:hidden;}

#sidebar .tabular label{
  /* width of left column */
  margin-left: -70px;
  /* width of labels. Should be smaller than left column to create some right margin */
  width: 65px;
}
